.articulo-principal {
    height: calc(80vh - 100px);
    background-size: cover !important;
    margin-top: 60px;
    overflow: hidden;
    position: relative;

    @include mobile {
        max-height: 400px;
    }

    @include tablet {
        background-attachment: fixed !important;
        height: 514px;
        max-height: 100%;
        margin-top: 108px;
    }

    .overlay {
        background-color: $overlay;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;

        @include tablet {
            height: 98vh;
            max-height: 100%;
            margin-top: 0px;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: flex-end;
        }

        @include desktop {
            background-position: center center !important;
            background-size: cover !important;
            text-align: left;
        }
    }

    .texto {
        background-size: cover !important;
        z-index: 999999;

        @include tablet {
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-position: center bottom !important;
            z-index: 999999;
            background-attachment: fixed !important;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            overflow: hidden;
            margin: 0px;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column;
        -ms-flex-flow: column;
        height: 100%;

        h1 {
            color: white;
            font-size: calc(28px + 24 * ((100vw - 320px) / 820));
            text-align: left;
            display: inline;
            font-weight: 500;

            @include tablet {
                max-width: 100%;
                text-align: left;
                font-size: calc(20px + 24 * ((100vw - 320px) / 820));
            }

            em {
                color: $primary;
                font-weight: 900;
            }
        }

        p {
            color: white;
            font-size: 20px;
            text-align: center;
            font-weight: 300;
            margin-top: 10px;

            @include tablet {
                text-align: left;
            }
        }

        a {
            padding: 20px 28px;
            display: inline-block;
            background-color: $primary;
            color: white;
            font-size: 18px;
            margin-top: 28px;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            @include border-radius(8px);
            @include transition(.3s);

            cursor: pointer;
            max-width: 230px;
            box-shadow: 0px 0px 20px $primary;

            &:hover {
                background-color: $primary;
                box-shadow: 0px 0px 10px $primary;
            }

            img {
                height: 18px;
                width: auto;
                margin-left: 12px;
            }
        }
    }
}

#articulos {
    h2.title {
        margin-top: 0px;
    }

    .container {
        margin-bottom: col(2, 31);
        padding-top: 0px;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;

        @include tablet {
            margin-top: 0px;
            position: relative;
            top: -52px;
            z-index: 99;
            padding-bottom: 0px;
        }

        .contenedor-articulos {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }

        .articles {
            width: col(37, 37);
            min-height: 360px;
            margin-bottom: col(4, 33);
            display: block;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            @include transition(.3s);

            box-shadow: 0px 0px 40px $gray;

            @include tablet {
                box-shadow: none;
                border: $gray 1px solid;
            }

            &:hover {
                border: none;
                box-shadow: 0px 0px 40px $gray;
            }

            @include tablet {
                margin-bottom: col(1, 27);
                width: col(13.4, 28);
                display: inline-block;
            }

            @include desktop {
                width: col(6.7, 23);
            }

            .post-categories {
                li {
                    a {
                        text-decoration: none;
                        font-size: 12px;
                    }
                }
            }

            .textos {
                padding: col(1, 7);
                min-height: 270px;

                .date {
                    text-transform: uppercase;
                    color: #787878;
                    font-size: 12px;

                    span {
                        min-width: 25px;
                        display: inline-block;
                        padding-right: 4px;
                        font-size: 12px;

                        ul {
                            li {
                                list-style: none;

                                a.btn-seemore {
                                    display: inline;
                                    text-decoration: none;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                h2 {
                    text-align: left;
                    margin: col(1, 14) auto;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #2a2a2d;
                }

                p {
                    color: $gray;
                    letter-spacing: 0.2px;
                    min-height: 45px;
                    margin: col(1, 14) auto;
                    font-weight: 400;
                    font-family: $primary-text;
                    font-size: 14px;
                    line-height: 146.28%;
                }

                a {
                    font-size: 15px;
                    text-decoration: underline;
                    color: $primary;
                    text-transform: uppercase;
                    display: block;
                    font-weight: 900;
                }
            }

            .imagen-article {
                width: 100%;
                height: 180px;
                background-size: cover !important;
                background-position: center !important;
            }
        }
    }
}