.btn {
    padding: 16px 48px;
    display: inline-block;
    font-size: 18px;
    @include border-radius(8px);
    @include transition(.3s);

    &__primary {
        @extend .btn;
        background-color: $primary;
        color: $color-primary-text-button;
        font-size: 18px;
        line-height: 156%;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.6px;

        &:hover {
            background: $primary-hover;
        }

        &--border {
            @extend .btn;
            background: transparent;
            border: 1px solid $primary;
            color: $primary;

            &:hover {
                border: 1px solid $primary-hover;
                color: $primary-hover;
            }
        }
    }
}