$primary: #065A98;
$primary-hover: #0668ad;
$color-primary-text-button:white;
$color-sandwich: #98c9ec;
$gray:#383A3F;
$lightgray:#dbe3f2;


$colorMenuButton: white;
$hoverDesktopSubMenu:#eff3fc;
$colorActiveMenuText: #5daee8;
$colorActiveMenu: #5daee8;
$colorsSubMenu:#383A3F;
$bgSubMenu:white;

$shadow: -0px 6px 20px rgba(0, 0, 0, 0.25);
$overlay:linear-gradient(90deg, rgba(35, 28, 19, 0.6) 24.32%, rgba(47, 37, 25, 0) 100.16%);
$primary-text:'Poppins',
Arial,
Helvetica,
sans-serif;