.main-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__content {
        height: 100%;
        display: flex;
        text-align: center;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;

        h2 {
            width: 100%;
            margin-bottom: 24px;
            font-size: 32px;
            font-weight: 300;
            color: $gray;
            font-family: $primary-text;
        }
    }
}